/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Code for cross browser compatability */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} */
/* body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    /* background-color: bisque; */
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    color: rgb(8, 2, 2);
    overflow-x: hidden; 
    overflow-y: hidden;
}
/* strong{
    font-weight: 600;
} */

.info{
    margin-left: -1vw;
}
/* Scroll bar */
body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-thumb {
background-color:  gray;
outline: 1px solid rgb(7, 7, 7);

}


/* icons */
.icon a{
    color: black;
}
.icon{
    color: black;
}
a{
    color: black;
}

a:hover{
    color: #000;
}

/* paragraph text for all the pages and sections */
p{
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
    text-align: left;
    text-size-adjust: 2px;
    margin: 20px;
}
h3{
    text-align: left;
    margin-left: 5.5vw;
    font-size: 1.3em;
}

.responsive{
    width: 100%;
    height: auto;
}

h4{
    font-size: 18px;
}
/* Logo Div */
.MediaDiv{
        z-index: 20;
    }
/* Navbar for mobile*/
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 25;
    left:-100vw;
    top: 0;
    left: 0;
    background-color: rgb(241, 234, 234);
    color: rgb(12, 12, 12);
    overflow: hidden; 
    transition: 0.5s;
  }

.overlay-content ul{
   list-style: none;
 }

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 20%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; 
    transition: 0.3s; 
    font-size: 1.5em;
}

  /* Position the close button (top right corner) */ 
.overlay .closebtn {
    position: absolute;
    right: 35px;
    top: 2px;
    font-weight: 900;
  }

 /*media icons */
.icon{
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 2px;
}
  /* media icons */
  .icon.mobile{
    float: right;
    color: white;
  }

 /* burger navbar */
.Bars{
    margin-left: -1.3vw;
    margin-top: 2vh;
}


/* Desktop navbar section */
.Desktop{
    display: none;
}

.mobile-Nav{
    display: block;
    color: black;
}

.parallaxIndex{
    /* Full height */
    height: 100%; 
    
  
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax {
    /* Full height */
    height: 50vh; 
    
  
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blockDivs{
    margin-top: -52vh !important;
}

  .social{
      z-index: 2;
      position: fixed;
      transform: translate(100px,560px);
  }

  .media{
      color: white;
      display: inline-block;
  }


  /* IndividualProject Portfolio Page: Pamela */

  .heroImage{
  
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -20vh;
  }


  hr{
    border: 0.2px solid black;
  }
  
  .projectName{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: justify;
    text-size-adjust: 2px;
    margin: 20px;
  }
  
  
  .div{
    width: 90vw;
    /* height: auto; */
    margin: auto;
    text-align: center;
    /* background:lightcoral; */
    margin-bottom: 5vh;
  }
  


/*Desktop navbar */
.navbar-expand-lg{
    color: gray !important;
    font-size: 1.5em;
}
/*  general classes*/
.hideMobile{
    display: none;
}
/* Homepage Images */
.HomePageImages{
    margin-top: 10vh;
    display: block;
}
.DesktopHomepageImages{
    display: none;
}

/* Portfolio page,About us and contact page:Lesedi */
/* about us page */
.AboutUsImage{
    width: 100%;
    
}
.block{
    margin-top: 6vh !important;
}

/* Studio page */

.StudioBlock{
    margin-top: -6vh !important;
}

/* contact page */

.ContactBlock{
    margin-top: -6vh !important;
}
/* Portfolio Page */

/*Hover on test on Imagetest STYLING--*/

.ThumbnailIcon{
    margin-left: 80vw;
    margin-top: 10vh;
    font-weight: 100 !important;
}
.PortfolioDiv{
    padding-top: 10px;
    padding-bottom: -5px;
    text-align: center;
    margin-bottom: 30px;
}
.PortfolioDiv.PortfolioBlock .PortfolioImage{
    overflow: hidden;
    background: white;
    margin-bottom: 0;
    opacity:1;
}
.PortfolioDiv.PortfolioBlock .PortfolioImage{
    transition: 0.8s ease;
}

.PortfolioDiv.PortfolioBlock .PortfolioImage{
    position: relative;
    display: inline-block;
}

.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText{
    display: grid;
    position: absolute;
    left:0;
    color: black;
    bottom:0;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity:1;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0);
    /* background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39)); */
}

.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText .PortfolioHeading{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: -25vh;
    
}
.PortfolioHead{
    font-size:1em;
    font-weight: 600;
    margin-top: -25vh;
    margin-left: 5vw;
    text-align: left;
}
.DescriptionPara{
    font-size: 1.9em;
    font-weight: 900 !important;  
}

.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText{
    margin-top: 10px;
}

/*contact section/page */
.FormButton{
    color: white;
    background-color: #0f0f0e;
    border-radius: 50px;
    font-weight: 600;
    width: 60vw;
    padding: 10px;
    margin-left: 20vw;
}
  /* form section */

/*about us page*/
.icon{
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    /* background-color: white; */
    background-color:  rgb(209, 204, 204);
}
    /* Clients page */
    .ClientsImages{
        width: 100%;
    }
    .ProjectImage{
        width: 100%;
    }
    .ImageDiv:hover{
    color: rgb(160, 23, 240);
    opacity: 0.4;
    cursor: pointer;
    }


/* footer section */
 /* footer text */

 .icons{
    display: inline-block;
    font-size: 0.95em;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    
}
 .CopyText{
    text-align: center;
    font-size: 10px;
    font-weight:400 ;
    color: #000;
    margin-top: -4vh;
}
.FullName{
    color:#000;
}
.FullName:hover,a:hover{
    color:rgb(3, 3, 3);
}


footer{
    margin-top: -3vh;
}

.ProjectText{
    transform: translate(-70px,-310px);
    color: hotpink;
}

.TypeOfProject{
    transform: translate(10px,-120px);
    color: hotpink;
}

/* Services page :Tshepo */

.hide{
    display: block;
}
.hid{
    display: none;
}
.iconn{
margin-left: 40vw;
font-size: 2em;
}
.image{
    width: 100vw;
    height: 40vh !important;
    margin-bottom: 2vh;
}

/* contact page */
.ContactHeadingMobile{
    padding-bottom: -25vh;
}

/* footer section contact page */
.ContactFooter{
    margin-top: 20vh !important;
}
.IndexFooter{
    margin-top: 15vh !important;
}

#PortImage{
    width: 100vw !important;
    height: 40vh;
    margin-left: 0vw;
    margin-top: 10vh;
}

/* All.html House Chettiar and Deattachable city image reduction on mobile view */
/* .ReduceImagesMobile{
    height: 40vh !important;
} */







   /* ---media queries */
 
 /* // Extra small devices (portrait phones, less than 576px) */
 /* // No media query for `xs` since this is the default in Bootstrap */
 
 /* // -Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (orientation: landscape) { 
 

    

    /* Portfolio page:Lesedi Maleka */
    .PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText{
        opacity: 0;
    }
    .PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText:hover{
        opacity: 1;
    }
    .PortfolioDiv .zoom-on-hover:hover .image{
        transform: scale(0.2s);
        opacity: 0.2;
        color: gray;
    }

    .PortfolioHead{
        margin-left: 1vw;
    }
    

    .image:hover{
        background-color: gray;
        opacity: 1;
    }
    
    .PortfolioHead{
        margin-right: 10vw;
    }

    .PortfolioDiv{
        padding-top: 40px;
        padding-bottom:40px;
        margin-bottom: 50px;
    }
   
 }
 
 /* -Medium devices (tablets or ipad) */
 @media (min-width: 768px) {

    
   /* navbar section*/
   .TabletNavbar{
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
   /* burger navbar */
  .Bars{
    margin-left: 5vw;
  }

   /* Client page, About us page Portfolio and contact page :Lesedi */
/* about us page */
.AboutUsImage{
    width: 60%;
    margin-left: 20%;
}
    /* Clients page */
.ClientsImages{
    width: 60%;
}


.ProjectImage{
    width: 80%;
}

.FormButton{
    width: 25vw;
    margin-left: 20vw;
}
.ProjectText{
    transform: translate(50px,200px);
    z-index: 10;
}
.TypeOfProject{
    transform: translate(50px,200px);
    z-index: 10;
}





}
 
 /* -Large devices (ipad pro) */
 @media (min-width: 992px) { 
    .mobile-only{
        display: none;
    }
    .hide{
        display: none;
    }
    .Desktop{
        display: block;
        color: gray !important;
        text-transform: lowercase;
        } 


        .IntialNavbar{
            background-color: white;
            height: 20vh;
            margin-left: -2.8vh;
        }
        .nav-link{
            color: gray;   
        } 
        .nav-link:hover{
            color: #000 !important;
        }
    .DesktopOnly{
        display: block;  
    }

    .icons{
       margin-bottom: -6vh;
        
    }
    .block{
        margin-bottom: 5vh !important;
    }

    .LogoImage{
        transform: translate(-0.2vw,2vh);
    }
    .IntialNavbarLogoImage{
        transform: translate(3vw,2vh);
    }

    .navbar-nav{
        transform: translateX(10vw);
        float: right;
        
      }
      .SecondNav{
        transform: translate(541px,-80px);
        text-transform: lowercase;
        font-weight: 350;
        font-size: 0.8em;
        color: gray;
        margin-bottom: 6vh;
      }
/* Landing page */


/* Portfolio page :Lesedi Maleka*/
.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText .PortfolioHeading{
    margin-top: -23vh;
}
.PortfolioHead{
    margin-top: -27vh;
    /* margin-right: -80vw !important; */
    text-align: left;
}

.PortIcons{
    font-size: 1.4em;
    padding: 30px;
   display: block;
   font-weight: 400;
   margin-top: -1.5vh;
}
.PortfolioIcons{
    text-align: right;
    margin-top: -5.5vh;
}
.PortfolioDiv{
    padding: 20px;
}
#PortImage{
    width: 96vw !important;
    margin-left: 2vw;
    height: 97vh;
}



.parallax {

    height: 100vh; 
}
.parallaxIndex  {
    /* Full height */
    height: 100%; 
}




/* .image{em
    width: 100vw;
   
} */
  /* Contact Page :Lesedi Maleka*/
.FormButton{
    width: 15vw;
    margin-left: 12vw;
}

/* Studio page.About founder Adam section */
.AdamText{
    margin-left: -7vw;
}
.StudioBioText{
    /* margin-left: -1vw;  */
    transform: translate(1vw,2vh);
}
/* studio page */
.StudioBlock{
    margin-top: -7vh !important;
}


/* contact page */
.ContactBlock{
    margin-top: -7vh !important;
}


/* Studio footer section */
.ContactFooter{
    margin-top: 20vh;
}
.StudioFooter{
    margin-top: 19vh;
}

.StudioHeading{
   margin-left: -1vw;
}
.FooterResidential{
    margin-top: 15vh;
}
.FooterResearch{
    margin-top: 15vh;
}
.heroImage{
height: 72vh;

    margin-bottom: 5vh;
  }
  .CopyText{
    margin-top: -2vh;
}
/* index images */
.HomePageImages{
    display: none;
}
.DesktopHomepageImages{
    display: block;
}


    
 }
 @media screen and (min-width: 1200px) {

    
  /* landing page media icons:Buhle */
  .social{
    transform: translate(710px,695px);
}

.navbar-nav{
    transform: translateX(36vw);
}

.show-on-mobile{
  display: none;
}
.block{
    margin-top: 5vh !important;
}
.blockDiv{
    margin-top: -17vh !important;
   
}
/* .ClientDiv{
    margin-top: 20vh !important;
} */
.mobile-Nav{
    overflow-y: auto;
}



.div{
margin-top: 5%;
width: 90%;
height:80%;
padding: 20vh;
/* margin-bottom: 10vh; */
}

/* Services page:Tshepo Makgetsi*/
.hide{
    display: none;
}
.hid{
    display: block;
}
.ContactDiv{
    margin-top: 2vh;
    margin-left: 3vw;
}
.card{
    border: none;
}
.ico{
    font-size: 3em;
}

    .ProjectText{
        transform: translate(50px,-80px);
        z-index: 10;
        color: hotpink;
    }
    .TypeOfProject{
        transform: translate(50px,-20px);
        z-index: 10;
        color: hotpink;
    }
     
    /* Thumbnail section */
    .ThumbnailIcon{
        margin-left: 92vw;
        margin-top: 15vh;
        margin-bottom: 2vh;
        font-weight: 100 !important;
    }

    /* The individual pages for the project pages */
    .blockDivs{
        margin-top: 36vh !important;
        margin-left: 6vw;
    }
 

    h3{
       margin-top: 2vh;
        margin-left: 1.2vw;
        font-size: 1.4em;
    }
    /* contact section: Contact heading */
    .placeContacteHeading{
        padding-left: 1vw;
    }
   }
  
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}